# 1.Importing PreReq

In [65]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.metrics import r2_score

# 2.Reading Data

In [35]:
data=pd.read_csv("Spam Email raw text for NLP.csv")

In [36]:
data

,CATEGORY,MESSAGE,FILE_NAME
0,1,"Dear Homeowner,\n\n \n\nInterest Rates are at ...",00249.5f45607c1bffe89f60ba1ec9f878039a
1,1,ATTENTION: This is a MUST for ALL Computer Use...,00373.ebe8670ac56b04125c25100a36ab0510
2,1,This is a multi-part message in MIME format.\n...,00214.1367039e50dc6b7adb0f2aa8aba83216
3,1,IMPORTANT INFORMATION:\n\n\n\nThe new domain n...,00210.050ffd105bd4e006771ee63cabc59978
4,1,This is the bottom line. If you can GIVE AWAY...,00033.9babb58d9298daa2963d4f514193d7d6
...,...,...,...
5791,0,"I'm one of the 30,000 but it's not working ver...",00609.dd49926ce94a1ea328cce9b62825bc97
5792,0,Damien Morton quoted:\n\n>W3C approves HTML 4 ...,00957.e0b56b117f3ec5f85e432a9d2a47801f
5793,0,"On Mon, 2002-07-22 at 06:50, che wrote:\n\n\n\...",01127.841233b48eceb74a825417d8d918abf8
5794,0,"Once upon a time, Manfred wrote :\n\n\n\n> I w...",01178.5c977dff972cd6eef64d4173b90307f0
5795,0,"If you run Pick, and then use the ""New FTOC"" b...",00747.352d424267d36975a7b40b85ffd0885e

In [37]:
data.info() #checking information iof the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5796 entries, 0 to 5795
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CATEGORY   5796 non-null   int64
 1   MESSAGE    5796 non-null   object
 2   FILE_NAME  5796 non-null   object
dtypes: int64(1), object(2)
memory usage: 136.0+ KB

In [38]:
data.isnull().sum()  #looking for null values in data

CATEGORY     0
MESSAGE      0
FILE_NAME    0
dtype: int64

# 3.PrePrecossing

In [39]:
def get_sequences(texts, tokenizer, train=True, max_seq_length=None):
    
    # removes punctuation, other non requires words and applies mapping on word count
    sequences = tokenizer.texts_to_sequences(texts)      
    
    if train == True:
        
        # finding longest TE in the training set
        max_seq_length = np.max(list(map(lambda x: len(x), sequences)))  
    
    sequences = tf.keras.preprocessing.sequence.pad_sequences(sequences, maxlen=max_seq_length, padding='post')
    
    return sequences

In [40]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop FILE_NAME column
    df = df.drop('FILE_NAME', axis=1)
    
    # Split df into X and y
    y = df['CATEGORY']
    X = df['MESSAGE']
    
    # Train-test splitting of data
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    # Creating tokenizer for every word
    tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words=30000)
    
    # Fit the tokenizer
    tokenizer.fit_on_texts(X_train)
    
    # Convert texts to sequences
    X_train = get_sequences(X_train, tokenizer, train=True)
    X_test = get_sequences(X_test, tokenizer, train=False, max_seq_length=X_train.shape[1])
    
    return X_train, X_test, y_train, y_test

In [41]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [42]:
X_train

array([[   14,   135,   188, ...,     0,     0,     0],
       [  183,  1452,  2119, ...,     0,     0,     0],
       [   56,   129,    20, ...,     0,     0,     0],
       ...,
       [  309,    12,    32, ...,     0,     0,     0],
       [   56,   179,   298, ...,     0,     0,     0],
       [   94,  4671, 11648, ...,     0,     0,     0]])

In [43]:
y_train.value_counts()

0    2738
1    1319
Name: CATEGORY, dtype: int64

In [44]:
X_train.shape

(4057, 14804)

# Training

In [57]:
inputs = tf.keras.Input(shape=(14804,))

# Embedding the Te's from the Training set
embedding = tf.keras.layers.Embedding(input_dim=30000,output_dim=64)(inputs)

# Converting into 1D vector
flatten = tf.keras.layers.Flatten()(embedding)

# Adding the Dense Layer
outputs = tf.keras.layers.Dense(1, activation='sigmoid')(flatten)


model = tf.keras.Model(inputs=inputs, outputs=outputs)

# Compiling the Model
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)


print(model.summary())

Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         [(None, 14804)]           0
_________________________________________________________________
embedding_4 (Embedding)      (None, 14804, 64)         1920000
_________________________________________________________________
flatten_4 (Flatten)          (None, 947456)            0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 947457
=================================================================
Total params: 2,867,457
Trainable params: 2,867,457
Non-trainable params: 0
_________________________________________________________________
None

In [58]:
# Fiting the TE's and Training the model
# Epochs can be altered
history = model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    batch_size=32,
    epochs=10,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True
        )
    ]
)

Epoch 1/10
102/102 [==============================] - 13s 123ms/step - loss: 1.5560 - accuracy: 0.6739 - val_loss: 0.1102 - val_accuracy: 0.9803
Epoch 2/10
102/102 [==============================] - 12s 121ms/step - loss: 0.0645 - accuracy: 0.9846 - val_loss: 0.0418 - val_accuracy: 0.9877
Epoch 3/10
102/102 [==============================] - 12s 121ms/step - loss: 0.0160 - accuracy: 0.9987 - val_loss: 0.0348 - val_accuracy: 0.9877
Epoch 4/10
102/102 [==============================] - 12s 120ms/step - loss: 0.0084 - accuracy: 0.9986 - val_loss: 0.0323 - val_accuracy: 0.9889
Epoch 5/10
102/102 [==============================] - 13s 123ms/step - loss: 0.0045 - accuracy: 0.9995 - val_loss: 0.0316 - val_accuracy: 0.9901
Epoch 6/10
102/102 [==============================] - 12s 120ms/step - loss: 0.0037 - accuracy: 0.9989 - val_loss: 0.0333 - val_accuracy: 0.9889
Epoch 7/10
102/102 [==============================] - 12s 121ms/step - loss: 0.0024 - accuracy: 0.9997 - val_loss: 0.0321 - val_accuracy: 0.9901
Epoch 8/10
102/102 [==============================] - 13s 123ms/step - loss: 0.0018 - accuracy: 0.9996 - val_loss: 0.0323 - val_accuracy: 0.9889

In [59]:
history

# Results

In [62]:
results = model.evaluate(X_test, y_test, verbose=0)

print("    Test Loss: {:.4f}".format(results[0]))
print("Test Accuracy: {:.2f}%".format(results[1] * 100))

    Test Loss: 0.0245
Test Accuracy: 99.08%

In [66]:
# Calculating r2 score 
r2 = r2_score(y_test, model.predict(X_test))
r2

0.9713762321319751